.match_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  padding: 32px;
  background-color: #eee;
  box-sizing: border-box;
  border-radius: 10px;
  .mb_title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .selection {
    display: flex;
    justify-content: center;
    > a {
      flex: 1;
      display: block;
      cursor: pointer;
      color: #42444e;
      text-decoration: none;
      &:first-child {
        margin-right: 20px;
      }
    }
    .result {
      margin-right: 0 !important;
    }
  }
  .noti {
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
}
.img-box {
  position: relative;
  display: block;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
    pointer-events: none;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.select_name {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.goFirst {
  display: block;
  text-align: center;
}
@media (max-width: 500px) {
  .match_box {
    width: calc(100% - 32px);
  }
}
